h1 {
    padding-top: 100px;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 3em;
   
}

h2 {
text-align: center;
font-family: 'Abril Fatface';
}

body {
    font-family: Merriweather;
    background-color: aliceblue;
}


thead {
    font-weight: bold; 
    background-color: navajowhite;
}

td {
    background-color: slategray;
    text-indent: 4%;
    color: white;
}


table {
    width: 100%;
    padding: 40px;

}

.header {
    font-weight: bold;
}

th, td {
    padding: 10px;
}

td code {
    background-color: navajowhite;
    padding: 2px;
    color: black;
}

footer {
    background-color: navajowhite;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Abril Fatface';
}

footer .left {

  position: relative;
  top: 50%;
}

footer .right {
   position: relative;
   left: 85%;
   top: 5%;
   text-align: justify;
}



ol li {
    list-style-type: disc;
}